# Neural Networks Course - LEONARDO H. DE MORAES - Final Project  

**Name:** Leonardo H. de Moraes  
**Student ID:** 1711609  

**Course:** Neural Networks - Polytechnic Institute of Guarda (IPG)  
**Acronym:** LEI  
**Department:** School of Technology and Management  
**Degree:** Bachelor's  
**Program:** Computer Engineering  
**Academic Year:** 2024/2025  
**Professor:** Noel de Jesus Mendonça Lopes  

---

## Project Objective  
The goal of this project is to develop predictive models for the exchange rates of the US Dollar (**USD**) and the Japanese Yen (**JPY**) against the Euro (**EUR**). Students will use neural networks to build and compare different models.

In [2]:
## == Install libs 
import pandas as pd
## == Install libs

In [3]:
## == Read csv
df_forex = pd.read_csv('../data/kaggle/forex.csv')
df_forex

,slug,date,open,high,low,close,currency
0,GBP/EGP,2001-04-10,5.580900,5.594700,5.594700,5.594700,EGP
1,GBP/EGP,2001-06-04,5.475170,5.493900,5.493900,5.493900,EGP
2,GBP/EGP,2001-08-01,5.679900,5.654300,5.654300,5.654300,EGP
3,GBP/EGP,2002-07-29,7.217000,7.217000,7.217000,7.217000,EGP
4,GBP/EGP,2003-01-02,7.424290,7.389900,7.389900,7.389900,EGP
...,...,...,...,...,...,...,...
1453030,USD/MXN,2021-08-24,20.317129,20.360830,20.238400,20.317949,MXN
1453031,USD/MXN,2021-08-25,20.202400,20.347589,20.160601,20.206100,MXN
1453032,USD/MXN,2021-08-26,20.228861,20.384501,20.211901,20.216101,MXN
1453033,USD/MXN,2021-08-27,20.369301,20.423140,20.191200,20.366501,MXN
1453034,USD/MXN,2021-08-30,20.191999,20.224501,20.096001,20.135000,MXN

In [4]:
## == Read awesome api 
df_forex_USD_EUR = df_forex[df_forex['slug'].isin(['USD/EUR'])].reset_index(drop=True)
df_forex_USD_EUR

         slug        date      open     high      low    close currency
0     USD/EUR  2003-12-01  0.830980  0.83724  0.83056  0.83577      EUR
1     USD/EUR  2003-12-02  0.836050  0.83710  0.82583  0.82720      EUR
2     USD/EUR  2003-12-03  0.827130  0.82802  0.82440  0.82488      EUR
3     USD/EUR  2003-12-04  0.825080  0.83029  0.82345  0.82775      EUR
4     USD/EUR  2003-12-05  0.827950  0.82878  0.82028  0.82055      EUR
...       ...         ...       ...      ...      ...      ...      ...
4577  USD/EUR  2021-08-24  0.851300  0.85265  0.84999  0.85146      EUR
4578  USD/EUR  2021-08-25  0.850700  0.85262  0.85030  0.85084      EUR
4579  USD/EUR  2021-08-26  0.849401  0.85122  0.84880  0.84930      EUR
4580  USD/EUR  2021-08-27  0.850850  0.85208  0.84720  0.85060      EUR
4581  USD/EUR  2021-08-30  0.847200  0.84840  0.84630  0.84700      EUR

[4582 rows x 7 columns]

In [5]:
df_awesome_USD_EUR = pd.read_json('../data/awesome_api/df_USD_EUR.json')
df_awesome_USD_EUR

,code,codein,name,high,low,varBid,pctChange,bid,ask,timestamp
0,USD,EUR,Dólar Americano/Euro,0.92930,0.92670,0.00090,0.100000,0.92820,0.92860,2024-05-10 20:59:45
1,USD,EUR,Dólar Americano/Euro,0.92860,0.92810,0.00030,0.030000,0.92830,0.92860,2024-05-12 23:59:46
2,USD,EUR,Dólar Americano/Euro,0.92710,0.92640,-0.00020,-0.020000,0.92650,0.92660,2024-05-13 23:59:17
3,USD,EUR,Dólar Americano/Euro,0.92470,0.92400,0.00050,0.050000,0.92470,0.92470,2024-05-14 23:59:04
4,USD,EUR,Dólar Americano/Euro,0.91920,0.91820,-0.00040,-0.040000,0.91830,0.91840,2024-05-15 23:59:05
...,...,...,...,...,...,...,...,...,...,...
355,USD,EUR,Dólar Americano/Euro,0.90125,0.89290,-0.00733,-0.813315,0.89392,0.89401,2025-05-13 23:59:23
356,USD,EUR,Dólar Americano/Euro,0.89562,0.88774,0.00032,0.035797,0.89424,0.89433,2025-05-14 23:59:48
357,USD,EUR,Dólar Americano/Euro,0.89514,0.89040,-0.00086,-0.096173,0.89338,0.89350,2025-05-15 23:59:26
358,USD,EUR,Dólar Americano/Euro,0.89828,0.89130,0.00242,0.270883,0.89580,0.89610,2025-05-16 21:04:00
359,USD,EUR,Dólar Americano/Euro,0.89580,0.89358,-0.00209,-0.233310,0.89371,0.89430,2025-05-18 20:22:04

In [6]:
# Supondo que seu dataframe se chame 'df' e as colunas sejam 'coluna1' e 'coluna2'
df_awesome_USD_EUR['slug'] = df_awesome_USD_EUR['code'] + '/' + df_awesome_USD_EUR['codein']
df_awesome_USD_EUR['timestamp'] = df_awesome_USD_EUR['timestamp'].dt.date
df_awesome_USD_EUR.drop(columns=['code', 'codein', 'name', 'varBid', 'pctChange'], inplace=True)
df_awesome_USD_EUR.rename(columns={'timestamp': 'date', 'bid': 'open', 'ask': 'close'}, inplace=True)
df_awesome_USD_EUR['currency'] = 'EUR'

In [7]:
df_awesome_USD_EUR

        high      low     open    close        date     slug currency
0    0.92930  0.92670  0.92820  0.92860  2024-05-10  USD/EUR      EUR
1    0.92860  0.92810  0.92830  0.92860  2024-05-12  USD/EUR      EUR
2    0.92710  0.92640  0.92650  0.92660  2024-05-13  USD/EUR      EUR
3    0.92470  0.92400  0.92470  0.92470  2024-05-14  USD/EUR      EUR
4    0.91920  0.91820  0.91830  0.91840  2024-05-15  USD/EUR      EUR
..       ...      ...      ...      ...         ...      ...      ...
355  0.90125  0.89290  0.89392  0.89401  2025-05-13  USD/EUR      EUR
356  0.89562  0.88774  0.89424  0.89433  2025-05-14  USD/EUR      EUR
357  0.89514  0.89040  0.89338  0.89350  2025-05-15  USD/EUR      EUR
358  0.89828  0.89130  0.89580  0.89610  2025-05-16  USD/EUR      EUR
359  0.89580  0.89358  0.89371  0.89430  2025-05-18  USD/EUR      EUR

[360 rows x 7 columns]

In [8]:
df_awesome_USD_EUR = df_awesome_USD_EUR[['slug', 'date', 'open', 'high', 'low', 'close', 'currency']]
df_awesome_USD_EUR

        slug        date     open     high      low    close currency
0    USD/EUR  2024-05-10  0.92820  0.92930  0.92670  0.92860      EUR
1    USD/EUR  2024-05-12  0.92830  0.92860  0.92810  0.92860      EUR
2    USD/EUR  2024-05-13  0.92650  0.92710  0.92640  0.92660      EUR
3    USD/EUR  2024-05-14  0.92470  0.92470  0.92400  0.92470      EUR
4    USD/EUR  2024-05-15  0.91830  0.91920  0.91820  0.91840      EUR
..       ...         ...      ...      ...      ...      ...      ...
355  USD/EUR  2025-05-13  0.89392  0.90125  0.89290  0.89401      EUR
356  USD/EUR  2025-05-14  0.89424  0.89562  0.88774  0.89433      EUR
357  USD/EUR  2025-05-15  0.89338  0.89514  0.89040  0.89350      EUR
358  USD/EUR  2025-05-16  0.89580  0.89828  0.89130  0.89610      EUR
359  USD/EUR  2025-05-18  0.89371  0.89580  0.89358  0.89430      EUR

[360 rows x 7 columns]

In [9]:
df_forex_USD_EUR = pd.concat([df_forex_USD_EUR, df_awesome_USD_EUR], ignore_index=True)
df_forex_USD_EUR

         slug        date     open     high      low    close currency
0     USD/EUR  2003-12-01  0.83098  0.83724  0.83056  0.83577      EUR
1     USD/EUR  2003-12-02  0.83605  0.83710  0.82583  0.82720      EUR
2     USD/EUR  2003-12-03  0.82713  0.82802  0.82440  0.82488      EUR
3     USD/EUR  2003-12-04  0.82508  0.83029  0.82345  0.82775      EUR
4     USD/EUR  2003-12-05  0.82795  0.82878  0.82028  0.82055      EUR
...       ...         ...      ...      ...      ...      ...      ...
4937  USD/EUR  2025-05-13  0.89392  0.90125  0.89290  0.89401      EUR
4938  USD/EUR  2025-05-14  0.89424  0.89562  0.88774  0.89433      EUR
4939  USD/EUR  2025-05-15  0.89338  0.89514  0.89040  0.89350      EUR
4940  USD/EUR  2025-05-16  0.89580  0.89828  0.89130  0.89610      EUR
4941  USD/EUR  2025-05-18  0.89371  0.89580  0.89358  0.89430      EUR

[4942 rows x 7 columns]

In [ ]:
df_forex_USD_EUR.to_json('../data/dateset/df_forex_USD_EUR.json', orient='records', indent=4, date_format='iso')

In [ ]:
df_forex_JPY_EUR = df_forex[df_forex['slug'].isin(['JPY/EUR'])].reset_index(drop=True)
df_forex_JPY_EUR

In [ ]:
df_awesome_JPY_EUR = pd.read_json('../data/awesome_api/df_JPY_EUR.json')
df_awesome_JPY_EUR

In [ ]:
# Supondo que seu dataframe se chame 'df' e as colunas sejam 'coluna1' e 'coluna2'
df_awesome_JPY_EUR['slug'] = df_awesome_JPY_EUR['code'] + '/' + df_awesome_JPY_EUR['codein']
df_awesome_JPY_EUR['timestamp'] = df_awesome_JPY_EUR['timestamp'].dt.date
df_awesome_JPY_EUR.drop(columns=['code', 'codein', 'name', 'varBid', 'pctChange'], inplace=True)
df_awesome_JPY_EUR.rename(columns={'timestamp': 'date', 'bid': 'open', 'ask': 'close'}, inplace=True)
df_awesome_JPY_EUR['currency'] = 'EUR'

In [ ]:
df_awesome_JPY_EUR

In [ ]:
df_awesome_JPY_EUR = df_awesome_JPY_EUR[['slug', 'date', 'open', 'high', 'low', 'close', 'currency']]
df_awesome_JPY_EUR

In [ ]:
df_forex_JPY_EUR = pd.concat([df_forex_JPY_EUR, df_awesome_JPY_EUR], ignore_index=True)
df_forex_JPY_EUR

In [ ]:
df_forex_JPY_EUR.to_json('../data/dateset/df_forex_JPY_EUR.json', orient='records', indent=4, date_format='iso')

In [ ]:

## == GET DATA PETROLEUM FROM API 

import requests
import pandas as pd

url = "https://api.eia.gov/v2/petroleum/pri/spt/data/"
params = {
    "api_key": "FOutCJrIahu1J4fbCvYNLiLQgw5OCBPkQSql5RLK",
    "frequency": "daily",
    "data[0]": "value",
    "start": "2015-01-01",
    "end": "2025-01-01"
}

response = requests.get(url, params=params)
data = response.json()
data

In [ ]:
df_petroleum = pd.DataFrame(data['response']['data'])
df_petroleum

In [ ]:
df_petroleum['period'] = pd.to_datetime(df_petroleum['period'])
df_petroleum['value'] = df_petroleum['value'].astype(float)
df_petroleum

In [ ]:
df_petroleum.sort_values(by='period', ascending=True)
df_petroleum

In [ ]:
df_petroleum = df_petroleum[['period', 'value']]
df_petroleum

In [ ]:
df_petroleum.to_json('../data/dateset/df_petroleum.json', orient='records', indent=4, date_format='iso')

In [ ]:
import requests
import pandas as pd

# Sua chave de API do FRED
api_key = "136716a53d63f5c82a5c6dd6c1b99a9c"
# Código da série para CPI dos EUA (Consumer Price Index for All Urban Consumers: All Items)
series_id = "CPALTT01JPM661N"

# Montar a URL da requisição
url = "https://api.stlouisfed.org/fred/series/observations"
params = {
    "series_id": series_id,
    "api_key": api_key,
    "file_type": "json",
    "observation_start": "2015-01-01", 
    # "observation_end": "2024-12-31"
    "observation_end": "2025-05-20"      
}

In [ ]:
# Requisição
response = requests.get(url, params=params)
data = response.json()

In [ ]:
data

In [ ]:
# Converter para DataFrame
observations = data["observations"]
df_inflacao_EUR = pd.DataFrame(observations)
df_inflacao_EUR["date"] = pd.to_datetime(df_inflacao_EUR["date"])
df_inflacao_EUR["value"] = pd.to_numeric(df_inflacao_EUR["value"], errors="coerce")
df_inflacao_EUR = df_inflacao_EUR[["date", "value"]].rename(columns={"value": "CPI_USA"})

In [ ]:
df_inflacao_EUR

In [ ]:
df_inflacao_EUR.to_json('../temp_CDI_EUR.json', orient='records', indent=4)